<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="content-language" content="zh-CN" />
<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
<title>Sign in</title>
<link rel="stylesheet" type="text/css" href="static/css/index.css" />
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="static/css/input.css">
</head>
<body style="background-image: url(static/img/register.jpg);background-size: 100%;">

<div style="height:180px;">
	<!--<marquee loop=10 behavior=scroll><font color="fuchsia">Welcome miliate!</font></marquee>
	<marquee loop=10 width=50% behavior="scroll"><font size="10px" color="aqua">Welcome miliate!</font></marquee> <P>
	<marquee loop=10 width=50% behavior=alternate><font color="burlywood">Welcome miliate!</font></marquee>
	<marquee loop=10 behavior=alternate><font color="chartreuse" size="5">Welcome miliate!</font></marquee>
	<marquee loop=10 width=100  behavior="scroll"><font color="darksalmon">Welcome miliate!</font></marquee>
	<marquee loop=10 behavior=scroll><font color="lightblue">Welcome miliate!</font></marquee>-->
</div>

<div class="container">
	<section id="content">
		<form action="/signin" method="POST" enctype="multipart/form-data" >
			<h1><font color="yellow">注册</font></h1>
			<div>
				<input type="text" placeholder="用户名" required="" id="username" name="username" />
			</div>
			<div>
				<input type="password" placeholder="密码" required="" id="password" name="password" />
			</div>
			<div>
				<input type="password" placeholder="确认密码" required="" id="confirm_password" name="password" onkeyup="test()"  />
			<br >
			<span id="comment"></span>
			</div>
			<div>
				<input type="submit" value="注册" style="top: 0px;right: 0;margin:20px 20px ;width: 320px;" id="dosubmit" onclick="validate()" />
			</div>
		</form><!-- form -->
		<div class="button">
			
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
<script type="text/javascript">
	function validate() {
    	var pwd1 = document.getElementById("password").value;
    	var pwd2 = document.getElementById("confirm_password").value;
    	if(pwd1 != pwd2) {
   		confirm_password.focus();
      		document.getElementById("comment").innerHTML="<font color='red'>密码不一致</font>";
      		document.getElementById("dosubmit").disabled = true;
      		return false;
    	}
   		 else {
			document.getElementById("dosubmit").disabled = false;
   		 	return true;
   		 }
	}

	function test(){
		document.getElementById("dosubmit").removeAttribute('disabled');
	}
</script>
<script type="text/javascript" src="static/js/input.js"></script>
</body>
</html>
